<div class = "booyah-box col-xs-10 col-xs-offset-1">
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Add a New Exercise
</button>

</div>
